<template v-if="currentSession === 'changePasswordSession'">
    <v-card width="600" class="mx-auto my-2 px-4 py-4">
        <h4 class="mx-4">Change password</h4>
        <v-form :loading="submitting">
            <v-text-field v-model="changePasswordForm.oldPassword" label="Old Password" required></v-text-field>
            <v-text-field v-model="changePasswordForm.newPassword" label="New Password" required></v-text-field>
            <v-text-field v-model="changePasswordForm.confirmPassword" label="Confirm Password" required></v-text-field>
            <v-btn @click="changePassword">Change Password</v-btn>
        </v-form>
    </v-card>
</template>
