<template v-if="currentSession === 'invitation'">
    <v-card width="600" class="mx-auto my-2 px-4 py-4">
        <h4 class="mx-4"><b>Send invitation</b></h4>
        <v-form :loading="submitting">
            <v-text-field v-model="invitationForm.email" label="Email" required></v-text-field>
            <v-select v-model="invitationForm.role" :items="['admin', 'standard']" label="Role" required></v-select>
            <v-btn @click="sendInvitation">Send</v-btn>
        </v-form>
    </v-card>
</template>
